.main-content {
    $main-text-color: #222222;
    $main-color: #ff5722;
    $white: #ffffff;
    background: #f1f1f1;
    .first-banner {
        padding-top: 25px;
    }
    .tab-deal {
        margin-top: 30px;
        ul.tab-menu {
            font-size: 16px;
            font-weight: 500;
            color: #666666;
            border-bottom: 1px solid #c2c6c6;
            margin-bottom: 27px;
            li {
                cursor: pointer;
                padding:0 5px 5px 0;
                margin-right: 20px;
            }
            .current-tab {
                font-weight: 700;
                color: $main-text-color;
                border-bottom: 2px solid $main-color;
            }
        }
        .tab-contents {
            .slider2-btn-next {
                position: absolute;
                right: 0;
                display: inline-block;
                height: 25px;
                width: 25px;
                background: #e1e1d8;
                color: $main-text-color;
                text-align: center;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    .spa_massage {
        .spa_massage-head {
            background-color: $white;
            border-top: 2px solid #e9597e;
            margin-bottom: 30px;
            .spa_massage-text {
                display: inline-block;   
                background: #e9597e;
                font-size: 16px;
                color: $white;
                font-weight: 700;
                padding: 10px 23px;
                .spa_text-inner {
                    padding-left: 5px;
                }
                >img {
                    vertical-align: inherit;
                }
            }
            .spa_massage-feature {
                float: right;
                font-weight: 500;
                li {
                    padding: 10px;
                    a:hover {
                        color: #e9597e;
                    }
                }
                .feature-current {
                    position: relative;
                    > a{color: #e9597e;}
                }
                .feature-current:after {
                    content: '';
                    position: absolute;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #e9597e;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .spa_massage-wrapper {
            clear: both;
        }
    }
}